*~
.project
.classpath
.settings
.DS_Store
.reviewboardrc
*.iml
.idea/
.metadata/
.m2/
.recommenders/
.*.swp
vmware/lib/resources/
vmware/export/
vmware-spbm/export/
vmware-spbm/resources/
vmware/resources/
lcm/gobuild-deps/integrity-ngcplugin/resources/
lcm/gobuild-deps/rd-vimclients-platform/resources/
lcm/gobuild-deps/vlsi/resources/
lcm/lcm-vmware-primitive-impl/src/main/java/com/vmware/evo/sddc/lcm/primitive/impl/vcenter/upgrade/input/VC65/
lcm/gobuild-deps/vim25/resources/
lcm/gobuild-deps/vshield-mgmtplatform/resources/
sddcmanager/vramanager/vrslcm-app/resources/
ng-sddcmanagerui/sddc-bringup-ui/client/src/app/**/*.css
ng-sddcmanagerui/sddc-bringup-ui/client/.awcache/
ng-sddcmanagerui/sddc-bringup-ui/client/dist/
bin/
target/
/build/
/target/
/*/target/
/*/*/target/
/*/*/*/target/
/*/*/*/*/target/
/temp/
/tags
